<div id="modal-cookies" class="modal">
    <div class="modal-content">
      <h4>Cookies</h4>
      <p>Ce site utilise des cookies pour les commentaires et Google Analytics entre autre.</p>
      <p>En continuant de surfer sur celui-ci, vous acceptez leurs utilisations.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="agreeCookies();">Okay</a>
      <a href="#!" class="modal-action waves-effect waves-red btn-flat" onclick="history.back();">Nope</a>
    </div>
  </div>
