<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>

<script type="text/javascript">
  $("#button-menu-left").sideNav();

  // initialize masonry grid
  $('#masonry-container-index').masonry({
    columnWidth: '.col',
    itemSelector: '.masonry-items-index',
  });

  hljs.initHighlightingOnLoad();
</script>
