{{ range . }}
<a name="{{ .id }}"></a>
<div class="col s12">
  <div class="card">
    <br />
    <div class="center-align">
      <!-- TODO : go in CSS -->
      <img class="circle responsive-img" style="height:150px;" src="http://placehold.it/150x150.jpg">
      <p>
        <h2 class="card-title">
          {{ .name }}
        </h2>
      </p>
    </div>
    <div class="card-content">
      <div class="center-align">
        <p>
          {{ .description }}
        </p>
      </div>
    </div>
    <div class="card-action">
      {{ if .github }}
      <a href="https://github.com/{{ .github }}" target="_blank">
        <span class="icon icon-github">
          {{ partial "icons/github.svg" . }} Github
        </span>
      </a>
      {{ end }}
      {{ with .twitter }}
      <a href="https://twitter.com/{{ . }}" target="_blank">
        <span class="icon icon-twitter">
          {{ partial "icons/twitter.svg" . }} Twitter
        </span>
      </a>
      {{ end }}
      {{ with .linkedin }}
      <a href="https://fr.linkedin.com/in/{{ . }}" target="_blank">
        <span class="icon icon-linkedin">
          {{ partial "icons/linkedin.svg" . }} Linkedin
        </span>
      </a>
      {{ end }}
      {{ with .stackoverflow }}
      <a href="https://stackexchange.com/users/{{ . }}" target="_blank">
        <span class="icon icon-linkedin">
          {{ partial "icons/stackoverflow.svg" . }} Stackoverflow
        </span>
      </a>
      {{ end }}
    </div>
  </div>
</div>

{{ end }}
